<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @invite.group_id %>
</p>

<p>
  <b>Username:</b>
  <%= @invite.username %>
</p>

<p>
  <b>Accept:</b>
  <%= @invite.accept %>
</p>


<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
